<!--<p *ngFor="let c of userData; let num = index">
  {{c.dob}} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora harum et, quis suscipit earum corporis itaque
  blanditiis. Minus accusantium magnam explicabo! Iste dicta quisquam minus quidem. Porro sed, numquam corrupti!
</p>-->

<div class="container" *ngIf='userData.length>0'>
  <h2>Students Data</h2>
  <!--<p>The .table-bordered class adds borders to a table:</p>-->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Education</th>
        <th>GPA</th>
        <th>Skills</th>
        <th>Date of Birth</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of userData; let num = index">
        <td>{{c.firstName}}</td>
        <td>{{c.lastName}}</td>
        <td>{{c.education}}</td>
        <td>{{c.gpa}}</td>
        <td>{{c.skills}}</td>
        <td>{{c.dob}}</td>

      </tr>
    </tbody>
  </table>
</div>